<ion-view title="Add Image" id="page22" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="addImage-button-bar9" class="button-bar">
      <button id="addImage-button37" class="button button-calm button-block">Subir</button>
      <button id="addImage-button38" class="button button-positive button-block">Seleccionar</button>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="addImage-button40" class="button button-balanced button-block icon ion-checkmark-round"></button>
  </ion-content>
</ion-view>