<ion-view title="Add Juntada - Logic Step" id="page11" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="addJuntadaLogicStep-form7" class="list">
      <ion-item id="addJuntadaLogicStep-list-item112">Es necesario que recibas y despidas</ion-item>
      <ion-toggle toggle-class="toggle-assertive" id="addJuntadaLogicStep-toggle23">a los invitados personalmente?</ion-toggle>
      <button id="addJuntadaLogicStep-button9" class="button button-calm button-block icon-left ion-ios-contact">Agregar anfitrión</button>
      <button id="addJuntadaLogicStep-button10" class="button button-light button-block">Más opciones (recomendado)</button>
      <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider35"> </ion-item>
      <ion-toggle toggle-class="toggle-assertive" id="addJuntadaLogicStep-toggle21">Aceptas llegadas tarde?</ion-toggle>
      <ion-item class="range range-positive" id="addJuntadaLogicStep-range3">Cuantos invitados?
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <label class="item item-input" id="addJuntadaLogicStep-input21">
        <span class="input-label">Cuanto tiempo?</span>
        <input type="time" placeholder="">
      </label>
      <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider32"> </ion-item>
      <ion-toggle toggle-class="toggle-assertive" id="addJuntadaLogicStep-toggle22">Aceptas salidas temprano?</ion-toggle>
      <ion-item class="range range-positive" id="addJuntadaLogicStep-range4">Cuantos invitados?
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <label class="item item-input" id="addJuntadaLogicStep-input22">
        <span class="input-label">Cuanto tiempo?</span>
        <input type="time" placeholder="">
      </label>
      <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider33"> </ion-item>
      <ion-toggle toggle-class="toggle-assertive" id="addJuntadaLogicStep-toggle24">Puede haber inasistencias?</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="addJuntadaLogicStep-toggle25">Cuantos? / Quienes?</ion-toggle>
      <ion-item class="range range-positive" id="addJuntadaLogicStep-range5">max. inasistencias
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider34"> </ion-item>
      <ion-item id="addJuntadaLogicStep-list-item126">Hay invitados que no </ion-item>
      <ion-toggle toggle-class="toggle-assertive" id="addJuntadaLogicStep-toggle26">puedan faltar?</ion-toggle>
      <ion-item class="item-avatar" id="addJuntadaLogicStep-list-item127">
        <h2>Invitado</h2>
      </ion-item>
      <ion-toggle toggle-class="toggle-energized" id="addJuntadaLogicStep-toggle27">No puede llegar tarde</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="addJuntadaLogicStep-toggle28">No puede irse antes</ion-toggle>
      <button id="addJuntadaLogicStep-button7" class="button button-balanced button-block">Crear Juntada!</button>
    </form>
  </ion-content>
</ion-content>
</ion-view>