<ion-view title="Add Juntada - Logic Step" id="page11" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    
    <form id="addJuntadaLogicStep-form7" class="list">
      <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input5">
          <span style="border:none; color: black; font-weight:600;" class="input-label">
            Seleccionar rango de 7 días
          </span>
          <div><br/>Desde<input type="date" placeholder="" ng-model="juntada.daysRange.from"><br/></div>
          <div>Hasta<input disabled type="date" value="{{juntada.daysRange.from  | date: 'yyyy-MM-dd' }}" ng-model="juntada.daysRange.to"><br/></div>
      </label>
      <ion-item class="item-divider"></ion-item>

      <!-- <ion-item>
          <button id="addJuntadaDataStep-button8" style="color:#000000;" class="button button-small button-calm button-block button-outline icon-left ion-android-calendar">
            Añadir más días
          </button>
      </ion-item> -->
      
      <!-- Duracion de la Juntada -->
      <div ng-class="{animationtarget: !juntada.timelessJuntada.boolean}" ng-show="!juntada.timelessJuntada.boolean">
        <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracion">
            <span style="border:none; color: black; font-weight:600;" class="input-label">Duración de la juntada</span>
        </label>
        <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionHoras">
            <input type="number" step="1" min="0" max="24" ng-model="juntada.duration.hours"><p style="font-style:italic;">horas</p>
        </label>
        <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionMinutos">
            <input type="number" step="5" min="0" max="55" ng-model="juntada.duration.minutes"><p style="font-style:italic;">minutos</p>
        </label>
        <ion-item class="item-divider"></ion-item>
      </div>      

      <!-- Duracion minima de la Juntada -->
      <div>
        <ion-checkbox id="addJuntadaDataStep-checkbox1" ng-model="juntada.timelessJuntada.boolean">
            No se la duración exacta
        </ion-checkbox>
        <div ng-class="{animationtarget: juntada.timelessJuntada.boolean}" ng-show="juntada.timelessJuntada.boolean">
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracion">
                <span style="border:none; color: black; font-weight:600;" class="input-label">No hay duración exacta, pero durará un minimo de...</span>
            </label>
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionHoras">
                <input type="number" step="1" min="0" max="24" ng-model="juntada.timelessJuntada.duration.hours"><p style="font-style:italic;">horas</p>
            </label>
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionMinutos">
                <input type="number" step="5" min="0" max="55" ng-model="juntada.timelessJuntada.duration.minutes"><p style="font-style:italic;">minutos</p>
            </label>
        </div>      
        <ion-item class="item-divider"></ion-item>  
      </div>        
      
      <!-- La Juntada puede extenderse -->
      <div>
        <ion-checkbox ng-model="juntada.duration.canBeExtended.boolean" ng-show="!juntada.timelessJuntada.boolean" >La juntada puede extenderse</ion-checkbox>
        <div ng-show="!juntada.timelessJuntada.boolean">
          <div ng-class="{animationtarget: juntada.duration.canBeExtended.boolean}" ng-show="juntada.duration.canBeExtended.boolean">
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="extDuracionHoras">
                <input type="number" step="1" min="0" max="24" ng-model="juntada.duration.canBeExtended.hours"><p style="font-style:italic;">horas</p>
            </label>
            <label class="item item-input item-stacked-label" id="at12" name="extDuracionHorasMinutos">
              <input type="number" step="5" min="0" max="55" ng-model="juntada.duration.canBeExtended.minutes"><p style="font-style:italic;">minutos</p>
            </label>
          </div>
          <ion-item class="item-divider"></ion-item>
        </div>        
      </div>      

      <!-- La Juntada puede reducirse -->
      <div>
        <ion-checkbox ng-model="juntada.duration.canBeReduced.boolean" ng-show="!juntada.timelessJuntada.boolean">La juntada puede reducirse</ion-checkbox>
        <div ng-show="!juntada.timelessJuntada.boolean">
          <div ng-class="{animationtarget: juntada.duration.canBeReduced.boolean}" ng-show="juntada.duration.canBeReduced.boolean">
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="redDuracionHoras">
                <input type="number" step="1" min="0" max="24" ng-model="juntada.duration.canBeReduced.hours"><p style="font-style:italic;">horas</p>
            </label>
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="redDuracionMinutos">
                <input type="number" step="5" min="0" max="55" ng-model="juntada.duration.canBeReduced.minutes"><p style="font-style:italic;">minutos</p>
            </label>
          </div>
          <ion-item class="item-divider"></ion-item>
        </div>        
      </div>      

      <ion-list>
        <ion-item id="addJuntadaLogicStep-list-item112">Es necesario que recibas y despidas</ion-item>
        <ion-checkbox class="item-checkbox-right checkbox-balanced" id="addJuntadaLogicStep-toggle23">a los invitados personalmente?</ion-toggle>
      </ion-list>
      <ion-item>
      <ion-item class="item-divider"></ion-item>
      <a ui-sref="tabsController.addGuest()" id="addJuntadaDataStep-button2" style="color:#000000;" class="button button-small button-calm button-outline button-block icon-left ion-android-person-add">
        Agregar más anfitriones
      </a>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <button id="addJuntadaLogicStep-button10" class="button button-light button-block">
        Más opciones (recomendado)
      </button>      
      <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider35"> </ion-item>
      
      <!-- Llegadas temprano -->
      <div>
        <ion-checkbox ng-model="juntadas.options.lateArrivals.boolean" class="item-checkbox-right checkbox-balanced" id="addJuntadaLogicStep-toggle23">
          Aceptas llegadas tarde?
        </ion-checkbox>      
        <div ng-show="juntadas.options.lateArrivals.boolean" ng-class="{animationtarget: juntadas.options.lateArrivals.boolean}">
            <ion-item id="addJuntadaLogicStep-range3">
              <input type="number" step="1" ng-model="juntada.options.lateArrivals.numberOfGuests"><p style="font-style:italic;">cuantos invitados?</p>
            </ion-item>
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionHoras">
                <input type="number" step="1" min="0" max="24" ng-model="juntada.options.lateArrivals.duration.hours"><p style="font-style:italic;">horas</p>
            </label>
            <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionMinutos">
                <input type="number" step="5" min="0" max="55" ng-model="juntada.options.lateArrivals.duration.minutes"><p style="font-style:italic;">minutos</p>
            </label>
        </div>
        <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider32"> </ion-item>
      </div>
      
      
      <!-- Salidas temprano -->
      <div>
        <ion-checkbox ng-model="juntadas.options.earlyDepartures.boolean" class="item-checkbox-right checkbox-balanced" id="addJuntadaLogicStep-toggle23">
            Aceptas salidas temprano?
          </ion-checkbox>
          <div ng-show="juntadas.options.earlyDepartures.boolean" ng-class="{animationtarget: juntadas.options.earlyDepartures.boolean}">
              <ion-item id="addJuntadaLogicStep-range3">
                <input type="number" step="1" ng-model="juntada.options.earlyDepartures.numberOfGuests"><p style="font-style:italic;">cuantos invitados?</p>
              </ion-item>
              <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionHoras">
                  <input type="number" step="1" min="0" max="24" ng-model="juntada.options.earlyDepartures.duration.hours"><p style="font-style:italic;">horas</p>
              </label>
              <label class="item item-input item-stacked-label" id="addJuntadaDataStep-input12" name="duracionMinutos">
                  <input type="number" step="5" min="0" max="55" ng-model="juntada.options.earlyDepartures.duration.minutes"><p style="font-style:italic;">minutos</p>
              </label>
          </div>
          <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider32"> </ion-item>
      </div>

      <ion-checkbox ng-model="juntadas.options.absences.boolean" class="item-checkbox-right checkbox-balanced" id="addJuntadaLogicStep-toggle23">
        Puede haber inasistencias?
      </ion-checkbox>
      <div ng-show="juntadas.options.absences.boolean">
        <ion-toggle ng-model="juntadas.options.absences.howManyOrWho">
            <b ng-show="!juntadas.options.absences.howManyOrWho">Cuantas inasistencias?</b>
            <b ng-show="juntadas.options.absences.howManyOrWho">Quienes pueden faltar?</b>
        </ion-toggle>
        <div ng-show="!juntadas.options.absences.howManyOrWho">
          <ion-item id="addJuntadaLogicStep-range5">
            <input value="0" type="number" step="1"><p style="font-style:italic;">inasistencias</p>
          </ion-item>
        </div>
        <div ng-show="juntadas.options.absences.howManyOrWho">
            <ion-list >
              <ion-item ng-repeat="guest in juntadas.guests">
                {{ guest.name }}<ion-checkbox ng-model="guest.canBeAbscent" style="display:inline;"></ion-checkbox>              
              </ion-item>
            </ion-list>
            <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider33"> </ion-item>
        </div>

        <ion-item id="addJuntadaLogicStep-list-item126">Hay invitados que no </ion-item>
        <ion-checkbox ng-model="juntadas.options.cantBeAbsent.boolean" class="item-checkbox-right checkbox-balanced" id="addJuntadaLogicStep-toggle23">
            pueden faltar?
          </ion-checkbox>
        <ion-item ng-show="juntadas.options.cantBeAbsent.boolean" class="item-avatar" id="addJuntadaLogicStep-list-item127">
          <ion-list >
            <ion-item ng-repeat="guest in juntadas.guests">
              {{ guest.name }}<ion-checkbox ng-model="guest.cantBeAbscent" style="display:inline;"></ion-checkbox>              
            </ion-item>
          </ion-list>
        </ion-item>
      </div>
      <ion-item class="item-divider" id="addJuntadaLogicStep-list-item-divider33"> </ion-item>
      


      
      
      
      <!-- NO ENTRA EN MVP
      
        <ion-toggle toggle-class="toggle-energized" id="addJuntadaLogicStep-toggle27">No puede llegar tarde</ion-toggle>
        <ion-toggle toggle-class="toggle-energized" id="addJuntadaLogicStep-toggle28">No puede irse antes</ion-toggle>
      
      -->
    <div class="content-margin"></div>
    </form>
  </ion-content>
</ion-content>
 <!-- scrollable element -->
 <div fab-scroll-container>
</div>
<!-- ion-fab directive must be after scrollable element -->
<a href="#/page1/page11">
    <ion-fab style="background-color:rgb(90, 170, 90);" class="ion-checkmark-round" id="fab">
    </ion-fab>
</a>
</ion-view>