<ion-view title="Arranged Juntada" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="arrangedJuntada-card25">
      <ion-item class="item-icon-left item-icon-right" id="arrangedJuntada-list-item86">
        <i class="icon ion-paper-airplane"></i>Reunion TP
        <span class="item-note">Mie 27 - 09 -17 / 15:30 - 18:30</span>
        <i class="icon ion-android-sunny icon-accessory"></i>
      </ion-item>
    </div>
    <div class="list card" id="arrangedJuntada-card23">
      <ion-item class="item-divider" id="arrangedJuntada-list-item-divider11"> Horario</ion-item>
      <ion-item class="item-icon-left" id="arrangedJuntada-list-item77">
        <i class="icon ion-android-calendar"></i>Miercoles 27 - 09 - 17</ion-item>
      <ion-item class="item-divider" id="arrangedJuntada-list-item-divider12"> Dirección</ion-item>
      <ion-item class="item-icon-left" id="arrangedJuntada-list-item78">
        <i class="icon ion-android-pin"></i>Convención 1994, CABA</ion-item>
    </div>
    <div class="list card" id="arrangedJuntada-card26">
      <ion-item class="item-divider" id="arrangedJuntada-list-item-divider13"> Anfitrión</ion-item>
      <ion-item class="item-avatar" id="arrangedJuntada-list-item92">
        <h2>Franco</h2>
      </ion-item>
      <ion-item class="item-divider" id="arrangedJuntada-list-item-divider14"> Invitados</ion-item>
      <ion-item class="item-avatar" id="arrangedJuntada-list-item93">
        <h2>Nico</h2>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="arrangedJuntada-list-item118">
        <h2>Vicky</h2>
        <p>tiene que irse 30' antes</p>
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="arrangedJuntada-list-item120">
        <h2>Augusto</h2>
        <p>llega 20' tarde</p>
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-avatar" id="arrangedJuntada-list-item123">
        <h2>Carmi</h2>
      </ion-item>
    </div>
  </ion-content>
</ion-view>