<ion-view title="Create Group A" id="page19" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="createGroupA-form9" class="list">
      <label class="item item-input" id="createGroupA-input16">
        <span class="input-label">Nombre del Grupo</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.addGuest()" id="createGroupA-button21" class="button button-balanced button-block">Agregar Usuarios</a>
  </ion-content>
</ion-view>