<ion-view title="General Schedule List" id="page8" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="generalScheduleList-button-bar2" class="button-bar">
      <button id="generalScheduleList-button19" class="button button-balanced button-block icon ion-checkmark-circled"></button>
      <button id="generalScheduleList-button20" class="button button-assertive button-block icon ion-android-cancel"></button>
    </div>
    <ion-list id="generalScheduleList-list9">
      <ion-item class="item-divider" id="generalScheduleList-list-item-divider10"> Semana</ion-item>
      <ion-item class="item-icon-left" id="generalScheduleList-list-item110" ui-sref="tabsController.generalScheduleDetails()">
        <i class="icon ion-calendar"></i>Lunes 25 - 09</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="generalScheduleList-list-item111">
        <i class="icon ion-calendar"></i>Martes 26 - 09
        <span class="item-note">3 puedo</span>
        <i class="icon ion-android-star icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="generalScheduleList-list-item116">
        <i class="icon ion-calendar"></i>Miercoles 27 - 09
        <span class="item-note">1 puedo / 2 tal vez</span>
        <i class="icon ion-android-sunny icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left assertive" id="generalScheduleList-list-item124">
        <i class="icon ion-calendar"></i>Jueves 28 - 09
        <span class="item-note">No puedo este día</span>
      </ion-item>
      <ion-item class="item-icon-left assertive" id="generalScheduleList-list-item128">
        <i class="icon ion-calendar"></i>Viernes 29 - 09
        <span class="item-note">No puedo este dia</span>
      </ion-item>
      <ion-item class="item-divider" id="generalScheduleList-list-item-divider9"> Finde</ion-item>
      <ion-item class="item-icon-left" id="generalScheduleList-list-item129">
        <i class="icon ion-calendar"></i>Sabado 30 - 09</ion-item>
      <ion-item class="item-icon-left" id="generalScheduleList-list-item130">
        <i class="icon ion-calendar"></i>Domingo 01 - 10</ion-item>
    </ion-list>
  </ion-content>
</ion-view>