<ion-view title="General Schedule Details" id="page14" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="generalScheduleDetails-button-bar5" class="button-bar">
      <button id="generalScheduleDetails-button11" class="button button-balanced button-block icon ion-checkmark-circled"></button>
      <button id="generalScheduleDetails-button12" class="button button-assertive button-block icon ion-android-cancel"></button>
    </div>
    <ion-list id="generalScheduleDetails-list20">
      <ion-item class="item-divider" id="generalScheduleDetails-list-item-divider25"> Horarios Generales - Lunes 25 - 09</ion-item>
      <ion-item class="item-icon-left" id="generalScheduleDetails-list-item131">
        <i class="icon ion-ios-moon-outline"></i>Madrugada
        <span class="item-note">puedo! / tal vez</span>
      </ion-item>
      <ion-item class="item-icon-left" id="generalScheduleDetails-list-item132">
        <i class="icon ion-coffee"></i>Mañana
        <span class="item-note">puedo! / tal vez</span>
      </ion-item>
      <ion-item class="item-icon-left" id="generalScheduleDetails-list-item134">
        <i class="icon ion-fork"></i>Mediodía
        <span class="item-note">puedo! / tal vez</span>
      </ion-item>
      <ion-item class="item-icon-left positive" id="generalScheduleDetails-list-item135">
        <i class="icon ion-android-sunny"></i>Tarde
        <span class="item-note">puedo! / tal vez</span>
      </ion-item>
      <ion-item class="item-icon-left positive" id="generalScheduleDetails-list-item136">
        <i class="icon ion-android-star"></i>Noche
        <span class="item-note">puedo! / tal vez</span>
      </ion-item>
      <ion-item class="item-icon-left positive" id="generalScheduleDetails-list-item137">
        <i class="icon ion-android-bar"></i>Entrada la noche
        <span class="item-note">puedo! / tal vez</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>