<ion-view title="Phase B" id="page12" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="phaseB-container8">
      <div id="phaseB-container7">
        <ion-list id="phaseB-list10">
          <ion-item class="item-icon-left" id="phaseB-list-item99">
            <i class="icon ion-beer"></i>Birrita con lo pibe</ion-item>
        </ion-list>
      </div>
      <div class="list card" id="phaseB-card27">
        <ion-item class="item-divider" id="phaseB-list-item-divider15"> Horario</ion-item>
        <ion-item class="item-icon-left assertive" id="phaseB-list-item100">
          <i class="icon ion-android-time"></i>Definiendo horarios específicos</ion-item>
        <ion-item class="item-divider" id="phaseB-list-item-divider16"> Dirección</ion-item>
        <ion-item class="item-icon-left positive" id="phaseB-list-item101">
          <i class="icon ion-android-pin"></i>Av. El Cano, 1277</ion-item>
      </div>
      <a ui-sref="tabsController.specificScheduleList()" id="phaseB-button5" class="button button-assertive button-block icon-left ion-android-add-circle">Agregar horarios específicos</a>
      <ion-list id="phaseB-list12">
        <ion-item class="item-divider" id="phaseB-list-item-divider17"> Anfitrion</ion-item>
        <ion-item class="item-avatar" id="phaseB-list-item102">
          <img src="img/ZH7dzUGFRyw1oKEAshUj_20793827_10212994341948845_1360454888_o.jpg">
          <h2>Franco</h2>
        </ion-item>
      </ion-list>
    </div>
    <ion-list id="phaseB-list13">
      <ion-item class="item-divider" id="phaseB-list-item-divider18"> Invitados</ion-item>
      <ion-item class="item-avatar" id="phaseB-list-item105">
        <img src="img/r5QGfC2nTuWUhJcduPNu_20794909_10212994342628862_870805127_o.jpg">
        <h2>Luz</h2>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced" id="phaseB-list-item106">
        <img src="img/8wxAUWoGSuanZ72ld8MO_20773722_10212994333428632_1503146866_o.jpg">
        <h2balanced>Agus
          <i class="icon ion-checkmark-round"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar" id="phaseB-list-item109">
        <img src="img/mpRdIfoXR02o2bQWn14s_20773694_10212994335828692_273596644_o.jpg">
        <h2>Leni</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>