<ion-view title="Phase A" id="page7" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="phaseA-container3">
      <div id="phaseA-container6">
        <ion-list id="phaseA-list11">
          <ion-item class="item-icon-left royal" id="phaseA-list-item36">
            <i class="icon ion-flash"></i>Ensayo 4tet
            <span class="item-note">Sos el Anfitrión</span>
          </ion-item>
        </ion-list>
      </div>
      <div class="list card" id="phaseA-card22">
        <ion-item class="item-divider" id="phaseA-list-item-divider8"> Horario</ion-item>
        <ion-item class="item-icon-left assertive" id="phaseA-list-item42">
          <i class="icon ion-android-calendar"></i>Definiendo horarios generales</ion-item>
        <ion-item class="item-divider" id="phaseA-list-item-divider6"> Dirección</ion-item>
        <ion-item class="item-icon-left positive" id="phaseA-list-item41">
          <i class="icon ion-android-pin"></i>Roseti 1727</ion-item>
        <ion-item class="item-divider" id="phaseA-list-item-divider26"> Duración</ion-item>
        <ion-item class="item-icon-left royal" id="phaseA-list-item125">
          <i class="icon ion-ios-alarm"></i>3 horas</ion-item>
      </div>
      <a ui-sref="tabsController.generalScheduleList()" id="phaseA-button4" class="button button-balanced button-block icon-left ion-android-add-circle">Agregar mis horarios</a>
      <button id="phaseA-button13" class="button button-calm button-block">Opciones</button>
      <ion-list id="phaseA-list8">
        <ion-item class="item-divider" id="phaseA-list-item-divider4"> Anfitrion</ion-item>
        <ion-item class="item-avatar" id="phaseA-list-item37">
          <img src="img/ZH7dzUGFRyw1oKEAshUj_20793827_10212994341948845_1360454888_o.jpg">
          <h2>Franco</h2>
        </ion-item>
      </ion-list>
    </div>
    <ion-list id="phaseA-list5">
      <ion-item class="item-divider" id="phaseA-list-item-divider5"> Invitados</ion-item>
      <ion-item class="item-avatar" id="phaseA-list-item38">
        <img src="img/r5QGfC2nTuWUhJcduPNu_20794909_10212994342628862_870805127_o.jpg">
        <h2>Luz</h2>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced" id="phaseA-list-item39">
        <img src="img/8wxAUWoGSuanZ72ld8MO_20773722_10212994333428632_1503146866_o.jpg">
        <h2balanced>Agus
          <i class="icon ion-checkmark-round"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced" id="phaseA-list-item40">
        <img src="img/mpRdIfoXR02o2bQWn14s_20773694_10212994335828692_273596644_o.jpg">
        <h2balanced>Leni
          <i class="icon ion-checkmark-round"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>