<ion-view title="Specific Schedule List - Conflict" id="page16" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="specificScheduleListConflict-list16">
      <ion-item class="item-divider" id="specificScheduleListConflict-list-item-divider22"> Semana</ion-item>
      <ion-item class="item-icon-left assertive" id="specificScheduleListConflict-list-item119">
        <i class="icon ion-ionic"></i>Viernes 29/09</ion-item>
    </ion-list>
  </ion-content>
</ion-view>