<ion-view title="Specific Schedule Details" id="page15" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="specificScheduleDetails-list15">
      <ion-item class="item-icon-left item-icon-right dark" id="specificScheduleDetails-list-item117">
        <i class="icon ion-calendar"></i>Viernes 29 - 09
        <span class="item-note">Tarde - Agus y Luz al vez puedan</span>
        <i class="icon ion-android-sunny"></i>
      </ion-item>
      <ion-item class="item-divider" id="specificScheduleDetails-list-item-divider21"> Desde</ion-item>
      <label class="item item-input" id="specificScheduleDetails-input7">
        <input type="time" placeholder="">
      </label>
      <ion-item class="item-divider" id="specificScheduleDetails-list-item-divider27"> Hasta</ion-item>
      <label class="item item-input" id="specificScheduleDetails-input11">
        <input type="time" placeholder="">
      </label>
    </ion-list>
    <button id="specificScheduleDetails-button33" class="button button-balanced button-block icon-left ion-android-add-circle">Agregar más horas disponibles</button>
    <ion-list id="specificScheduleDetails-list22">
      <ion-item class="item-divider" id="specificScheduleDetails-list-item-divider31"> Flexibilidad horaria</ion-item>
      <ion-toggle toggle-class="toggle-positive" id="specificScheduleDetails-toggle13">Tenés flexibilidad horaria?</ion-toggle>
    </ion-list>
    <form id="specificScheduleDetails-form8" class="list">
      <label class="item item-input" id="specificScheduleDetails-input13">
        <span class="input-label">Puedo llegar temprano</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="specificScheduleDetails-input14">
        <span class="input-label">Puedo irme tarde</span>
        <input type="time" placeholder="">
      </label>
    </form>
    <div id="specificScheduleDetails-button-bar3" class="button-bar"></div>
    <div id="specificScheduleDetails-button-bar4" class="button-bar">
      <button id="specificScheduleDetails-button31" class="button button-balanced button-block icon ion-checkmark-circled"></button>
      <button id="specificScheduleDetails-button32" class="button button-assertive button-block icon ion-android-cancel"></button>
    </div>
  </ion-content>
</ion-view>