<ion-view title="Specific Schedule - Conflict Details" id="page17" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="specificScheduleConflictDetails-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tus horarios del
        <strong>Viernes</strong> estan en conflicto con el resto y tu flexibilidad inicial no nos permitio coordinar con éxito. Seleccioná alguno de los horarios propuestos o haz una nueva propuesta con mayor flexibilidad.</p>
    </div>
    <ion-list id="specificScheduleConflictDetails-list17">
      <ion-item class="item-icon-left" id="specificScheduleConflictDetails-list-item121">
        <i class="icon ion-android-calendar"></i>Viernes 29 - 09</ion-item>
      <ion-item class="item-divider" id="specificScheduleConflictDetails-list-item-divider24"> Horario</ion-item>
      <ion-item id="specificScheduleConflictDetails-list-item122">Horario viejo / 20:30 - 23:30</ion-item>
      <ion-item class="item-divider" id="specificScheduleConflictDetails-list-item-divider29"> Nuevo horario</ion-item>
      <label class="item item-input" id="specificScheduleConflictDetails-input9">
        <span class="input-label">Desde</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="specificScheduleConflictDetails-input10">
        <span class="input-label">Hasta</span>
        <input type="time" placeholder="">
      </label>
    </ion-list>
    <ion-list id="specificScheduleConflictDetails-list19">
      <ion-item class="item-divider" id="specificScheduleConflictDetails-list-item-divider30"> Seleccionar horarios propuestos</ion-item>
    </ion-list>
    <form id="specificScheduleConflictDetails-form6" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="specificScheduleConflictDetails-toggle15">22:00 - 1:30 (Sab)</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="specificScheduleConflictDetails-toggle16">23:00 - 1:30 (Sab)</ion-toggle>
    </form>
    <button id="specificScheduleConflictDetails-button23" class="button button-balanced button-block icon ion-checkmark-circled"></button>
  </ion-content>
</ion-view>