<ion-view title="Specific Schedule List" id="page13" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="specificScheduleList-list14">
      <ion-item class="item-divider" id="specificScheduleList-list-item-divider19"> Semana</ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="specificScheduleList-list-item114" ui-sref="tabsController.specificScheduleDetails()">
        <i class="icon ion-calendar"></i>Viernes 29 - 09
        <span class="item-note">Tarde - Agus y Luz tal vez puedan</span>
        <i class="icon ion-android-sunny icon-accessory"></i>
      </ion-item>
      <ion-item class="item-divider" id="specificScheduleList-list-item-divider20"> Finde</ion-item>
      <ion-item class="item-icon-left item-icon-right dark" id="specificScheduleList-list-item115">
        <i class="icon ion-calendar"></i>Sábado 30 - 09
        <span class="item-note">Entrada la noche - Todos pueden</span>
        <i class="icon ion-android-bar icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>