<ion-view title="Theme Example" id="page18" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="themeExample-container10">
      <div id="themeExample-container9">
        <ion-list id="themeExample-list23">
          <ion-item class="item-icon-left royal" id="themeExample-list-item139">
            <i class="icon ion-erlenmeyer-flask-bubbles"></i>Ensamble Contemproáneo
            <span class="item-note">Sos el Anfitrión</span>
          </ion-item>
        </ion-list>
      </div>
      <div class="list card" id="themeExample-card28">
        <ion-item class="item-divider" id="themeExample-list-item-divider36"> Horario</ion-item>
        <ion-item class="item-icon-left assertive" id="themeExample-list-item140">
          <i class="icon ion-android-calendar"></i>Definiendo horarios generales</ion-item>
        <ion-item class="item-divider" id="themeExample-list-item-divider37"> Dirección</ion-item>
        <ion-item class="item-icon-left positive" id="themeExample-list-item141">
          <i class="icon ion-android-pin"></i>Usina del Arte</ion-item>
        <ion-item class="item-divider" id="themeExample-list-item-divider38"> Duración</ion-item>
        <ion-item class="item-icon-left dark" id="themeExample-list-item142">
          <i class="icon ion-ios-alarm"></i>3:30 horas</ion-item>
      </div>
      <a ui-sref="tabsController.generalScheduleList()" id="themeExample-button34" class="button button-balanced button-block icon-left ion-android-add-circle">Agregar mis horarios</a>
      <ion-list id="themeExample-list24">
        <ion-item class="item-divider" id="themeExample-list-item-divider39"> Anfitrion</ion-item>
        <ion-item class="item-avatar" id="themeExample-list-item143">
          <img src="img/ZH7dzUGFRyw1oKEAshUj_20793827_10212994341948845_1360454888_o.jpg">
          <h2>Franco</h2>
        </ion-item>
      </ion-list>
    </div>
    <ion-list id="themeExample-list25">
      <ion-item class="item-divider" id="themeExample-list-item-divider40"> Invitados</ion-item>
      <ion-item class="item-avatar" id="themeExample-list-item144">
        <img src="img/r5QGfC2nTuWUhJcduPNu_20794909_10212994342628862_870805127_o.jpg">
        <h2>Luz</h2>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced" id="themeExample-list-item145">
        <img src="img/8wxAUWoGSuanZ72ld8MO_20773722_10212994333428632_1503146866_o.jpg">
        <h2balanced>Agus
          <i class="icon ion-checkmark-round"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced" id="themeExample-list-item146">
        <img src="img/mpRdIfoXR02o2bQWn14s_20773694_10212994335828692_273596644_o.jpg">
        <h2balanced>Leni
          <i class="icon ion-checkmark-round"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>