<ion-view title="Votation" id="page20" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div id="votation-container12">
      <div id="votation-container11">
        <ion-list id="votation-list27">
          <ion-item class="item-icon-left dark" id="votation-list-item149">
            <i class="icon ion-levels"></i>Produ Disco
            <span class="item-note">Leni es el Anfitrión</span>
          </ion-item>
        </ion-list>
      </div>
      <div class="list card" id="votation-card29">
        <ion-item class="item-divider" id="votation-list-item-divider43"> Horarios finales</ion-item>
        <ion-item class="item-icon-left item-icon-right" id="votation-list-item158">
          <i class="icon ion-calendar"></i>Viernes 06 - 10
          <span class="item-note">16:30 - 20:30 / 2 votos</span>
          <i class="icon ion-android-star icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right assertive" id="votation-list-item157">
          <i class="icon ion-calendar"></i>Viernes 06 - 10
          <span class="item-note">21:30 - 1:30 / 2 votos</span>
          <i class="icon ion-android-bar icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="votation-list-item-divider44"> Dirección</ion-item>
        <ion-item class="item-icon-left positive" id="votation-list-item151">
          <i class="icon ion-android-pin"></i>De las Garantías 1222</ion-item>
        <ion-item class="item-divider" id="votation-list-item-divider45"> Duración</ion-item>
        <ion-item class="item-icon-left royal" id="votation-list-item152">
          <i class="icon ion-ios-alarm"></i>4 horas</ion-item>
      </div>
      <ion-list id="votation-list28">
        <ion-item class="item-divider" id="votation-list-item-divider46"> Anfitrion</ion-item>
        <ion-item class="item-avatar item-icon-right assertive" id="votation-list-item153">
          <img src="img/ZH7dzUGFRyw1oKEAshUj_20793827_10212994341948845_1360454888_o.jpg">
          <h2assertive>Franco
            <i class="icon ion-android-hand"></i>
          </h2assertive>
        </ion-item>
      </ion-list>
    </div>
    <ion-list id="votation-list29">
      <ion-item class="item-divider" id="votation-list-item-divider47"> Invitados</ion-item>
      <ion-item class="item-avatar" id="votation-list-item154">
        <img src="img/r5QGfC2nTuWUhJcduPNu_20794909_10212994342628862_870805127_o.jpg">
        <h2>Luz</h2>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" id="votation-list-item155">
        <img src="img/8wxAUWoGSuanZ72ld8MO_20773722_10212994333428632_1503146866_o.jpg">
        <h2assertive>Agus
          <i class="icon ion-android-hand"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" id="votation-list-item156">
        <img src="img/mpRdIfoXR02o2bQWn14s_20773694_10212994335828692_273596644_o.jpg">
        <h2assertive>Leni
          <i class="icon ion-android-hand"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>